  /* 購物車按鈕 */
  .btn-cart {
    background-color: transparent;
    position: relative;
  }
    /* 購物車按鈕定位 */
  .btn-cart .badge{
    position: absolute;
    top: 1px;
    right: 1px;
  }
  .dropdown-menu-right{
    right: 0;
    left: auto;
  }
  .jumbotron-bg{
    background-image: url(https://images.unsplash.com/photo-1481437156560-3205f6a55735?auto=format&fit=crop&w=771&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-size: cover;
    background-position: center center;
    min-height: 400px;
  }
  .bg-lighter{
    background-color: rgba(255, 255, 255, .5);
  }
  .box-shadow{
    box-shadow:0 3px 5px rgba(0, 0, 0, .16);
    transition: box-shadow .3s;
  }
  .box-shadow:hover{
    box-shadow:0 4px 10px rgba(0, 0, 0, .24);
  }